* {
  margin: 0;
  padding: 0; }

body {
  background-color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: white; }
  body.open {
    overflow: hidden; }

.container {
  background: url("images/img-bg.jpg");
  background-size: cover;
  background-position: center;
  height: 1500px; }

.menu-btn {
  position: absolute;
  z-index: 1;
  top: 20px;
  left: 10px;
  height: 20px;
  width: 25px;
  cursor: pointer;
  transition: ease in 1s; }
  .menu-btn.open {
    position: absolute;
    right: 10px;
    top: 20px;
    height: 25px;
    width: 25px;
    cursor: pointer;
    transition: ease in 1s; }
  .menu-btn__burger {
    position: absolute;
    top: 0;
    left: 0;
    height: 3px;
    width: 25px;
    background-color: cyan;
    transition: ease-in-out 1s; }
    .menu-btn__burger::before {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      top: -8px;
      height: 3px;
      width: 25px;
      background-color: #dd15b2;
      transition: ease-in-out 1s;
      z-index: 1; }
    .menu-btn__burger::after {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      top: 8px;
      height: 3px;
      width: 25px;
      background-color: #f817da;
      transition: ease-in-out 1s;
      z-index: 1; }
    .menu-btn__burger.open {
      background-color: transparent;
      transform: rotate(180deg);
      transition: ease-in-out 500ms;
      float: right;
      left: 240px;
      height: 20px;
      width: 25px;
      position: absolute;
      z-index: 1;
      cursor: pointer;
      transition: ease in 1s; }
      .menu-btn__burger.open::before {
        transform: rotate(45deg) translate(5px, 8px);
        background-color: black; }
      .menu-btn__burger.open::after {
        transform: rotate(-45deg) translate(3px, -7px);
        background-color: black; }

header {
  background-color: white;
  height: 80px;
  position: fixed;
  top: 1px;
  width: 100%; }
  header h1 {
    text-align: center;
    font-size: 60px;
    font-family: 'Lobster', cursive;
    color: #e61aa2; }
  header img {
    width: 50px;
    border-radius: .4em;
    position: fixed;
    top: 5px;
    right: 5px; }

.sidebar {
  height: 700px;
  width: 250px;
  background-color: rgba(233, 233, 233, 0.822);
  transition: ease-in 1s;
  visibility: hidden;
  position: fixed;
  top: 10px;
  z-index: 1; }
  .sidebar.open {
    visibility: visible;
    overflow-x: hidden; }
  .sidebar input {
    margin: 60px 0 30px 40px;
    width: 150px;
    height: 30px; }
    .sidebar input i {
      background-color: black; }

a {
  text-decoration: none;
  color: rgba(31, 16, 16, 0.589); }
  a li {
    padding: 20px;
    padding-left: 40px;
    font-size: 14px;
    text-transform: uppercase;
    border-bottom: 1px solid lightgrey; }
    a li:hover {
      background-color: rgba(211, 211, 211, 0.924);
      padding-left: 50px;
      transition: ease-in-out 300ms; }

nav {
  margin-bottom: 200px; }

i {
  color: black; }
  i:hover {
    color: red; }

.cards img {
  height: 600px;
  width: 600px; }

footer {
  position: fixed;
  bottom: 1px;
  width: 100%;
  background-color: brown;
  color: white;
  text-align: center;
  font-weight: 300; }
  footer span {
    font-weight: 500; }
  footer a {
    color: white;
    font-weight: 500; }
    footer a:hover {
      color: cyan; }

/*# sourceMappingURL=style.css.map */
