* {
  margin: 0;
  padding: 0; }

body {
  background-color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: white;
  width: 100%; }

.container {
  background: rgba(255, 255, 255, 0.63);
  width: 95%;
  margin: auto;
  margin-bottom: 50px;
  overflow-x: hidden; }

.menu-btn {
  position: absolute;
  z-index: 1;
  top: 30px;
  left: 10px;
  height: 20px;
  width: 25px;
  cursor: pointer;
  transition: ease in 1s; }
  .menu-btn.open {
    position: absolute;
    right: 10px;
    top: 20px;
    height: 25px;
    width: 25px;
    cursor: pointer;
    transition: ease in 1s; }
  .menu-btn__burger {
    position: absolute;
    top: 0;
    left: 0;
    height: 3px;
    width: 25px;
    background-color: cyan;
    transition: ease-in-out 1s; }
    .menu-btn__burger::before {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      top: -8px;
      height: 3px;
      width: 25px;
      background-color: #dd15b2;
      transition: ease-in-out 1s;
      z-index: 1; }
    .menu-btn__burger::after {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      top: 8px;
      height: 3px;
      width: 25px;
      background-color: #f817da;
      transition: ease-in-out 1s;
      z-index: 1; }
    .menu-btn__burger.open {
      background-color: transparent;
      transform: rotate(180deg);
      transition: ease-in-out 500ms;
      float: right;
      left: 240px;
      height: 20px;
      width: 25px;
      position: absolute;
      z-index: 1;
      cursor: pointer;
      transition: ease in 1s; }
      .menu-btn__burger.open::before {
        transform: rotate(45deg) translate(5px, 8px);
        background-color: black; }
      .menu-btn__burger.open::after {
        transform: rotate(-45deg) translate(3px, -7px);
        background-color: black; }

ul {
  list-style: none; }

header {
  background-color: transparent;
  height: 50px;
  position: fixed;
  top: 1px;
  width: 100%; }
  header h1 {
    text-align: center;
    font-size: 50px;
    font-family: 'Lobster', cursive;
    color: #e61aa2; }
  header img {
    width: 40px;
    border-radius: 50%;
    position: fixed;
    top: 5px;
    right: 15px; }

.sidebar {
  height: 700px;
  width: 250px;
  background-color: rgba(233, 233, 233, 0.822);
  visibility: hidden;
  position: fixed;
  top: 10px;
  z-index: 1; }
  .sidebar.open {
    visibility: visible;
    overflow-x: hidden; }
  .sidebar input {
    margin: 60px 0 30px 40px;
    width: 150px;
    height: 30px; }
    .sidebar input i {
      display: inline;
      background-color: black; }

a {
  text-decoration: none;
  color: rgba(31, 16, 16, 0.589); }
  a li {
    padding: 20px;
    padding-left: 40px;
    font-size: 14px;
    text-transform: uppercase;
    border-bottom: 1px solid lightgrey; }
    a li:hover {
      background-color: rgba(211, 211, 211, 0.924);
      padding-left: 50px;
      transition: ease-in-out 300ms; }

nav {
  margin-bottom: 200px; }

i {
  color: black; }
  i:hover {
    color: red; }

.top {
  background-color: #cf16a7;
  width: 60px;
  height: 28px;
  border-radius: .8em;
  color: #00e6f6;
  position: fixed;
  bottom: 52px; }
  .top:hover {
    background-color: #00e6f6;
    color: #cf16a7; }

.black {
  background: linear-gradient(rgba(27, 25, 27, 0.5), rgba(31, 26, 30, 0.5)), url("images/img-bg.jpg"); }

.section {
  height: 500px;
  background-size: cover;
  background-position: center;
  border-radius: 1em;
  margin: 80px 0 40px;
  font-family: 'Fira Sans', sans-serif;
  line-height: 25px;
  padding: 50% 0 0; }
  .section .content {
    border: 1px solid #f31cb2;
    border-radius: 50%;
    margin: auto auto;
    height: minmax(250px, auto);
    width: 50%;
    background-color: rgba(255, 255, 255, 0.548);
    color: black;
    padding: 30px; }
    .section .content h1 {
      color: #f31cb2; }
    .section .content h1, .section .content p {
      text-align: center; }

.cards {
  display: grid;
  grid-template-rows: 6fr 1fr;
  grid-gap: 1em;
  grid-auto-rows: minmax(300px, auto);
  margin: 15px; }
  .cards img {
    width: 100%;
    height: 100%;
    border-radius: 0.8em; }

footer {
  margin-top: 140px;
  position: fixed;
  bottom: 1px;
  width: 100%;
  background-color: #e01fc0;
  color: white;
  text-align: center;
  font-weight: 300; }
  footer span {
    font-weight: 500; }
  footer a {
    color: white;
    font-weight: 500; }
    footer a:hover {
      color: cyan; }

@media (min-width: 570px) {
  .container {
    height: 100%;
    width: 90%; }

  .section .content {
    border: 1px solid #13dbdb;
    width: 45%;
    padding: 30px; }
    .section .content h1 {
      color: cyan; }

  .cards {
    grid-template-columns: 4fr 3fr;
    height: 450px;
    align-items: center;
    justify-content: center;
    align-content: center; }
    .cards p {
      margin: auto 0; } }
@media (min-width: 720px) {
  .sidebar {
    visibility: visible;
    position: absolute;
    height: 20px;
    width: 300px;
    background-color: transparent; }
    .sidebar .input {
      display: none; }

  .menu-btn {
    visibility: hidden; }

  nav {
    margin-bottom: 10px; }
    nav ul {
      width: 50px;
      display: flex;
      margin-top: 20px; }
      nav ul li {
        color: #130303;
        padding: 5px;
        font-size: 14px;
        border-bottom: none; }
        nav ul li:hover {
          color: #f00bb6;
          padding-left: 8px;
          background-color: transparent; }

  .section .content {
    border: 2px solid #13dbdb;
    width: 38%;
    padding: 40px; }

  .social-icons {
    position: fixed;
    bottom: 50px;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    width: 35px;
    border-radius: .7em; }

  header img {
    right: 35px; }

  .cards {
    display: block;
    margin: 0 5px;
    border: none;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 340px;
    grid-gap: 2em;
    grid-auto-columns: 300px; }
    .cards img {
      border-radius: 2em;
      height: 300px;
      width: 100%;
      background-size: cover; }
    .cards .texts {
      padding: 20px;
      font-family: 'Cabin', sans-serif;
      line-height: 24px;
      font-weight: 500;
      align-items: center;
      justify-content: center;
      align-content: center; } }
@media (min-width: 940px) {
  .container {
    width: 80%; }
    .container header img {
      right: 140px; }
    .container header h1 {
      margin-left: -220px; }

  nav ul li {
    padding: 10px;
    font-size: 16px; }

  .section .content {
    border: 2px solid #13dbdb;
    width: 30%;
    padding: 40px; }

  .cards {
    height: 420px;
    grid-gap: 3em;
    grid-auto-columns: 400px; }
    .cards img {
      height: 400px; }
    .cards .texts {
      padding: 30px;
      font-family: 'Cabin', sans-serif;
      line-height: 30px;
      font-weight: 530; }

  .section {
    background-position: top; }

  .social-icons {
    right: 50px; } }

/*# sourceMappingURL=style.css.map */
