* {
    margin: 0;
    padding: 0;
}

$bg-color: white;
$text-color: black;


body {
    background-color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    &.open {
        overflow: hidden;
    }
}


.container {
    background: rgba(255, 255, 255, 0.63);
    width: 95%;
    margin: auto;
    overflow-y: hidden;
    margin-bottom: 50px;
}


.menu-btn {
    position: absolute;
    z-index: 1;
    top: 20px;
    left: 10px;
    height: 20px;
    width: 25px;
    //background-color: rgb(187, 255, 0);
    cursor: pointer;
    transition: ease in 1s;
    &.open {
        position: absolute;
        right: 10px;
        top: 20px;
        height: 25px;
        width: 25px;
        //background-color: rgb(187, 255, 0);
        cursor: pointer;
        transition: ease in 1s;
    }
    &__burger {
        position: absolute;
        top: 0;
        left: 0;
        height: 3px;
        width: 25px;
        background-color: cyan;
        transition: ease-in-out 1s;
        &::before {
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            top: -8px;
            height: 3px;
            width: 25px;
            background-color: rgb(221, 21, 178);
            transition: ease-in-out 1s;
            z-index: 1;
        }
        &::after {
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            top: 8px;
            height: 3px;
            width: 25px;
            background-color: rgb(248, 23, 218);
            transition: ease-in-out 1s;
            z-index: 1;
        }
        &.open {
            background-color: transparent;
            transform: rotate(180deg);
            transition: ease-in-out 500ms;
            float: right;
            left: 240px;
            height: 20px;
            width: 25px;
            position: absolute;
            z-index: 1;
            //background-color: rgb(187, 255, 0);
            cursor: pointer;
            transition: ease in 1s;

            &::before {
                transform: rotate(45deg) translate(5px, 8px);
                background-color: black;
            }
            &::after {
                transform: rotate(-45deg) translate(3px, -7px);
                background-color: black;
            }
        }
       
    }
}

header {
    background-color: white;
    height: 80px;
    position: fixed;
    top: 1px;
    width: 100%;

    h1 {
        text-align: center;
        font-size: 60px;
        font-family: 'Lobster', cursive;
        color: rgb(230, 26, 162) ;
    }
    img {
        width: 50px;
        border-radius: .4em;
        position: fixed;
        top: 5px;
        right: 5px;
    }
}
.sidebar {
    height: 700px;
    width: 250px;
    background-color: rgba(233, 233, 233, 0.822);
    transition: ease-in 1s;
    visibility: hidden;
    position: fixed;
    top: 10px;
    z-index: 1;

    &.open {
        visibility: visible;
        overflow-x: hidden;
    }

    input {
        margin: 60px 0 30px 40px;
        width: 150px;
        height: 30px;
        i {
            background-color: black;
        }
    }
    
}

a {
    text-decoration: none;
    color: rgba(31, 16, 16, 0.589);
    li {
        padding: 20px;
        padding-left: 40px;
        font-size: 14px;
        text-transform: uppercase;
        border-bottom: 1px solid lightgrey;

        &:hover {
            background-color: rgba(211, 211, 211, 0.924);
            padding-left: 50px;
            transition: ease-in-out 300ms;
        }
    }
}

nav {
    margin-bottom: 200px;
}

i {
    color: black;
    &:hover {
        color: red;
    }
}

.top {
    background-color: rgb(207, 22, 167);
    width: 60px;
    height: 28px;
    border-radius: .8em;
    color: rgb(0, 230, 246);
    position: fixed;
    bottom: 52px;
    &:hover {
        background-color: rgb(0, 230, 246);
        color: rgb(207, 22, 167);
    }
}



.section {
    height: 700px;
    background: url('images/img-bg.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 1em;
    margin-top: 80px;
    font-family: 'Fira Sans', sans-serif;
    line-height: 25px;
    .content {
        h1 {
            color: rgb(243, 28, 178);
        }
        h1, p {
            text-align: center;
        }
        border: 1px solid rgb(243, 28, 178);
        border-radius: 50%;
        margin: auto;
        width: 50%;
        background-color: rgba(255, 255, 255, 0.548);
        color: black;
        padding: 30px;
    }

}

.content {
    margin-top: 200px;
}

.cards {
    margin-top: 30px 0;
    display: grid;
    grid-template-rows: 4fr 1fr;
    grid-gap: 2em;
    grid-auto-rows: minmax(300px, auto);
    align-items: center;
    justify-items: start;
    img {
        border-radius: .8em;
        height: 600px;
        width: 100%
    }
    p {
        font-family: 'Cabin', sans-serif;
        line-height: 24px;
        font-weight: 500;
        border: 1px solid lightgrey;
        border-radius:  1em;
    }
}








footer {
    margin-top: 140px;
    position: fixed;
    bottom: 1px;
    width: 100%;
    background-color: rgb(224, 31, 192);
    color: white;
    text-align: center;
    font-weight: 300;
    span{
        font-weight: 500;
    }
    a {
        color: white;
        font-weight: 500;
        &:hover {
            color: cyan;
        }
    }
}